* {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif !important;
    /* line-height: 1; */
}

/* Width and height of the scrollbar */
::-webkit-scrollbar {
    width: 4px;
    height: 10px;
    /* position: relative; */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #fff;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #028374;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  

nav,
header,
footer {
    display: block;
}

.header {
    width: 100%;
    position: fixed;
    background-color: #028374;
    top: 0;
    z-index: 999999;
}

nav {
    padding: 1.3% 11%;
    display: flex;
    align-items: center;
}

nav img {
    width: 32%;
}

.nav-links {
    flex: 1;
    text-align: right;
} 

.nav-links ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0px 10px;
    position: relative;
    font-style: normal;
    text-transform: capitalize;
    line-height: 1em;
    font-weight: 400;
    letter-spacing: 0;
    word-spacing: 0;
    padding-top: 5px;
}

.nav-links ul li a {
    text-decoration: none;
    font-size: 17.5px;
    color: #a3e3db;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 1px;
    background: #a3e3db;
    display: block;
    margin: auto;
    transition: 0.1s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.nav-links li.dropdownIcon {
    display: none;
}




/*############ MOBILE RESPONSIVE ################*/

@media screen and (max-width: 1012px) {
    nav {
        padding: 3.5% 6%;
    }

    nav img {
        width: 25%;
    }

    .nav-links ul li {
        display: none;
        /* font-size: 20px; */
    }

    .nav-links li.dropdownIcon {
        display: block;
    }

    .nav-links ul li:hover::after {
        width: 50%;
    }

    /* ul.top-nav.responsive li.dropdownIcon {
        position: absolute;
        top: 0;
        right: 0;
    } */

    ul.top-nav.responsive {
        position: relative;
    }

    ul.top-nav.responsive li {
        display: inline;
        float: none;
    }

    ul.top-nav.responsive li a {
        display: block;
        /* text-align: left; */
    }
}

/* This is for the hero section */

section.hero {
    width: 100%;
    background: #EFFFFD;
    padding-top: 150px;
    margin-bottom: 0;
    box-sizing: border-box;
    border-radius: 0 0px 60px 0;
    border: 1px solid #028374;
}

.main-hero {
    width: 100%;
    display: flex;
    align-items: center;
}   

.left-hero-info {
    margin: 0 auto;
    /* width:fit-content; */
    /* padding-top: 30px; */
    padding-bottom: 40px;
}

.left-hero-info h1 {
    font-size: 67px;
    font-weight: 600;
    color: #363636;
    text-transform: none;
    font-style: normal;
    line-height: 1.1em;
    letter-spacing: 0px;
    padding-top: 10px;
    /* width: 60%;   */ 
}

.left-hero-info h5 {
    color: #363636;
    font-weight: 400;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    text-transform: none;

}

.left-hero-info h6 {
    color: #028374;
    font-size: 16px;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 3px;
}

.left-hero-info .bt-info h5 {
    width: 100%;
    line-height: 1.5em;
    font-size: 16px;
}



.main-hero .right-hero-info img {
    max-width: 100%;
    width: max-content;
    padding-bottom: 20px;
}

.call-btn {
    padding-top: 50px;
    padding-bottom: 30px;
}

.call-btn a {
    background: #039886;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    padding: 18px 80px;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1em;
}

.call-btn a:hover {
    background: transparent;
    color: #028374;
    border: 1px solid #039886;
    transition: 0.3s;
}



/*############### Hero MOBILE  ##############*/

@media screen and (max-width: 1025px) {

    .main-hero {
        padding-top: 0;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
    }

    section.hero {
        padding-top: 100px;
    }

    .main-hero {
        flex-direction: column;
    }

    .main-hero .right-hero-info img {
        max-width: 100%;
        padding-left: 0px;
    }

    .left-hero-info {
        margin: 0 auto;
        padding: 0;
        padding-top: 20px;
    }

    .left-hero-info {
        padding-left: 0px;
        padding-bottom: 30px;
    }
    
    section.hero {
        border-radius: 0px 0px 0px 0px;
        border: 1px solid #028374;
    }

    .left-hero-info {
        text-align: center;
        width: 100%;
        overflow: hidden;
    }

    left-hero-info {
        text-align: center;
    }

    .left-hero-info h1 {
        font-size: 56px;
        font-weight: 600;
        text-align: center;
        line-height: 1.1em;
        padding-top: 0px;
        padding-bottom: 10px;
        width: 100%;
    }

    .left-hero-info h5 {
        color: #363636;
        font-weight: 400;
        line-height: 1.5em;
        font-style: normal;
        text-align: center;
    }

    .left-hero-info .bt-info h5 {
        width: 100%;
        line-height: 1.5em;
        font-size: 16px;
    }

    .bt-info {
        padding: 0 2%;
    }

    .left-hero-info h6 {
        font-size: 14px;
        text-align: center;
        font-weight: 500;
        letter-spacing: 3px;
    }

    

    .left-hero-info,
    .right-hero-info {
        text-align: center;
    }
    
}



@media screen and (max-width: 768px) {
    .main-hero {
        flex-direction: column;
    }

    .main-hero .right-hero-info img {
        max-width: 100%;
        padding-left: 0px;
    }

    .main-hero .right-hero-info img {
        max-width: 100%;
        padding-left: 0px;
    }


    section.hero {
        padding-top: 120px;
    }

    .left-hero-info {
        padding-left: 0px;
        padding-bottom: 30px;
    }
    
    .left-hero-info h1 {
        font-size: 45px;
        line-height: 1em;
        padding-top: 5px;
        padding-bottom: 10px;
    }

    .left-hero-info h5 {
        font-size: 18px;
    }

    .left-hero-info .bt-info h5 {
        width: 80%;
        padding: 0 50px;
        line-height: 1.5em;
        font-size: 16px;
    }

    .bt-info {
        /* margin: auto; */
        /* width: 100%; */
        padding: 0 1%;
    }

    .left-hero-info h6 {
        font-size: 11px;
        letter-spacing: 3px;
        text-align: center;
        text-transform: uppercase;
    }
}

/* Explore section */

section.Main-sec {
    width: 77%;
    margin: auto;
    padding-top: 80px;
    /* margin-bottom: 100px;     */
    justify-content: space-between;
}

.inner-cotainer-col {
    /* margin: 2% 12%; */
    padding-top: 30px;
    display: flex;
}

.explore-header {
    width: 45%;
    padding-top: 10px;
}


.explore-header h2 {
    font-size: 55px;
    font-weight: 500;
    line-height: 1.1em;
}

.explore-info p {
    font-size: 19px;
    color: #5e5e5e;
}

.explore-info {
    width: 45%;
    padding-left: 5%;
}

.hr-line::before {
    content: '';
    display: block;
    height: 1px;
    width: 10%;
    background: #5e5e5e;
}

.main-sec-img {
    padding-top: 65px;
}

.main-sec-img img {
    border-radius: 20px;
}

@media screen and (max-width: 1024px) {
    .inner-cotainer-col {
        flex-direction: column;
        padding-top: 15px;
    }

    section.Main-sec {
        padding-top: 60px;
    }

    .explore-header {
        width: 100%;
    }

    .explore-header h2 {
        font-size: 50px;
        padding-bottom: 20px;
        padding-top: 12px;
        letter-spacing: -2px;
    }
    
    .explore-info p {
        font-size: 17px;
    }

    .explore-info {
        width: 100%;
    }

    section.Main-sec {
        width: 90%;
    }

    .explore-info {
        /* width: 50%; */
        padding-left: 0%;
    }

    .main-sec-img  {
        padding-top: 50px;
    }
}

@media screen and (max-width: 768px) {
    .inner-cotainer-col {
        flex-direction: column;
    }

    section.Main-sec {
        padding-top: 50px;
    }

    .explore-header {
        width: 100%;
    }

    .explore-header h2 {
        font-size: 50px;
        padding-bottom: 20px;
        padding-top: 0px;
        letter-spacing: -2px;
    }
    
    .explore-info p {
        font-size: 16px;
    }

    .explore-info {
        width: 100%;
    }

    section.Main-sec {
        width: 90%;
    }

    .hr-line::before {
        width: 20%;
    }

    .explore-info {
        /* width: 50%; */
        padding-left: 0%;
    }

    .main-sec-img  {
        padding-top: 40px;
    }
}


/* courses section */

.course-inner-row {
    margin-bottom: 80px;
}

.course-row {
    text-align: center;
    padding-top: 50px;
    /* margin-bottom: 90px; */
}

.course-inner-col {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    align-self: auto;
    flex-direction: row-reverse;
    
}


.course-col h2 {
    font-size: 65px;
    font-style: normal;
    font-weight: 600;
}

.course-col h5 {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5em;
    color: #5e5e5e;
    letter-spacing: 0px;
    text-align: center;
}

.course-img img {
    border-radius: 20px;
}

.info {
    padding-top: 15px;
}

.info-flex {
    display: flex;
}

div.checks {
    font-size: 14px;
    padding-top: 9px;
}

div.checks svg {
    padding-bottom: 4px;
    fill: #004139;
    /* font-size: 90px; */
    font-weight: 500;
}

.info ul {
    padding-left: 5px;
    padding-bottom: 40px;
}

.info ul li {
    list-style: none;
    position: relative;
    letter-spacing: -0.5px;
    font-weight: 400;
    color: #363636;
    padding-left: 5px;
    line-height: 26px;
}

.eff {
    font-weight: 500;
    text-transform: none;
}

.info span {
    font-size: 16px;
    text-transform: uppercase;
}

.info h1 {
    font-size: 2.5vw;
    font-weight: 500;
    font-style: normal;
    color: #222222;
    font-family: poppins;
    letter-spacing: -2px;
    word-spacing: 0em;
    padding-bottom: 5px;
}

.info p {
    margin-top: 0;
    margin-bottom: 2.5em;
    color: #171515;
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
    font-style: normal;
    line-height: 1.5em;
    letter-spacing: 0em;
    word-spacing: 0em;
    width: 85%;
}

.course-btn {
    padding-top: 20px;
    padding-bottom: 30px;
}

.course-btn a {
    background: #039886;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    padding: 18px 70px;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1em;
}

.course-btn a:hover {
    background: transparent;
    color: #028374;
    border: 1px solid #039886;
    transition: 0.3s;
}




@media screen and (max-width: 1024px) {
    .course-inner-col {
        flex-direction: column;
        width: 96%;
        margin: auto;
    }

    .course-img img {
        max-width: 100%;
        height: 366px;
        object-fit: cover;
        padding-bottom: 10px;
    }

    .info h1 {
        font-size: 40px;
        font-weight: 500;
        font-style: normal;
        color: #222222;
        font-family: poppins;
        word-spacing: 0em;
        padding-bottom: 5px;
    }

    .info ul li {
        list-style: none;
        position: relative;
        letter-spacing: -0.5px;
        font-weight: 400;
        color: #363636;
        /* padding-left: 5px; */
        line-height: 26px;
    }
    
}

@media screen and (max-width: 768px) {

    .course-inner-col {
        flex-direction: column;
        width: 96%;
        margin: auto;
    }

    .course-row {
        text-align: center;
        padding-top: 60px;
        margin-bottom: 40px;
    }

    .course-img img {
        max-width: 100%;
        height: 366px;
        object-fit: cover;
        padding-bottom: 10px;
    }

    .info {
        padding-left: 0px;
    }

    .course-col h2 {
        font-size: 35px;
        text-transform: uppercase;
        line-height: 1.1em;
        font-weight: 600;
        font-style: normal;
    }

    .course-col h5 {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5em;
    }

    .info h1 {
        font-size: 40px;
        font-weight: 500;
        font-style: normal;
        color: #222222;
        font-family: poppins;
        word-spacing: 0em;
        padding-bottom: 5px;
    }

    .info p {
        margin-top: 0;
        margin-bottom: 2.5em;
        color: #171515;
        font-size: 16px;
        font-weight: 400;
        text-transform: none;
        font-style: normal;
        line-height: 1.5em;
        letter-spacing: 0em;
        word-spacing: 0em;
        width: 90%;
    }

    .info span {
        font-size: 13px;
        letter-spacing: 3px;
        text-transform: uppercase;
    }

    div.checks {
        font-size: 14px;
        padding-top: 9px;
    }

    div.checks svg {
        /* padding-bottom: 17px; */
        fill: #004139;
        font-weight: 700;
    }
}


/* Diploma section */
.course-row {
    text-align: center;
    padding-top: 50px;
    margin-bottom: 90px;
}

.Diploma-inner-col {
    display: flex;
    flex-grow: 1;
    flex-direction: row-reverse;
    
}


.Diploma-col h2 {
    font-size: 65px;
    font-style: normal;
    font-weight: 600;
}

.Diploma-col h5 {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5em;
    color: #5e5e5e;
    letter-spacing: 0px;
    text-align: center;
}

.Diploma-img img {
    border-radius: 20px;
    width: 100%;
}

.Diploma-info-flex {
    display: flex;
}

div.Diploma-checks {
    font-size: 10px;
    padding-top: 9px;
}

div.Diploma-checks svg {
    padding-bottom: 5px;
    fill: #004139;
    /* font-size: 90px; */
    font-weight: 500;
}

.Diploma-info ul {
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 40px;
}

.Diploma-info ul li {
    list-style: none;
    position: relative;
    letter-spacing: -0.5px;
    font-weight: 400;
    color: #363636;
    padding-left: 5px;
    line-height: 26px;
}

.eff {
    font-weight: 500;
    text-transform: none;
}

.Diploma-info {
    padding-top: 10px;
    padding-left: 90px;
}

.Diploma-info span {
    font-size: 16px;
    text-transform: uppercase;
}

.Diploma-info h1 {
    font-size: 2.5vw;
    font-weight: 500;
    font-style: normal;
    color: #222222;
    font-family: poppins;
    letter-spacing: -2px;
    word-spacing: 0em;
    padding-bottom: 5px;
}

.Diploma-info p {
    margin-top: 0;
    margin-bottom: 2.5em;
    color: #171515;
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
    font-style: normal;
    line-height: 1.5em;
    letter-spacing: 0em;
    word-spacing: 0em;
    width: 85%;
}

.Diploma-btn {
    padding-top: 20px;
    padding-bottom: 30px;
}

.Diploma-btn a {
    background: #039886;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    padding: 18px 70px;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1em;
}

.Diploma-btn a:hover {
    background: transparent;
    color: #028374;
    border: 1px solid #039886;
    transition: 0.3s;
}




@media screen and (max-width: 1024px) {
    .Diploma-inner-col {
        flex-direction: column-reverse;
        width: 96%;
        margin: auto;
    }

    .Diploma-img img {
        max-width: 100%;
        height: 366px;
        object-fit: cover;
        padding-bottom: 10px;
    }

    .Diploma-info {
        padding-left: 0;
    }

    .Diploma-info h1 {
        font-size: 40px;
    }
}

@media screen and (max-width: 768px) {

    .Diploma-inner-col {
        flex-direction: column-reverse;
        width: 96%;
        margin: auto;
    }

    .Diploma-row {
        text-align: center;
        padding-top: 60px;
        margin-bottom: 40px;
    }

    .Diploma-info {
        padding-left: 0px;
    }
    
    .Diploma-img img {
        max-width: 100%;
        height: 366px;
        object-fit: cover;
        padding-bottom: 10px;
    }

    .Diploma-col h2 {
        font-size: 35px;
        text-transform: uppercase;
        line-height: 1.1em;
        font-weight: 600;
        font-style: normal;
    }

    .Diploma-col h5 {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5em;
    }

    .Diploma-info h1 {
        font-size: 40px;
        font-weight: 500;
        font-style: normal;
        color: #222222;
        font-family: poppins;
        word-spacing: 0em;
        padding-bottom: 5px;
    }

    .Diploma-info p {
        margin-top: 0;
        margin-bottom: 2.5em;
        color: #171515;
        font-size: 16px;
        font-weight: 400;
        text-transform: none;
        font-style: normal;
        line-height: 1.5em;
        letter-spacing: 0em;
        word-spacing: 0em;
        width: 90%;
    }

    .Diploma-info span {
        font-size: 13px;
        letter-spacing: 3px;
        text-transform: uppercase;
    }

    div.checks svg {
        padding-bottom: 4px;
        fill: #004139;
        font-weight: 700;
    }
}


/* exclusive section */

.exclusive-inner-row {
    margin-top: 80px;
}

.exclusive-row {
    text-align: center;
    padding-top: 50px;
    /* margin-bottom: 90px; */
}

.exclusive-inner-col {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    align-self: auto;
    flex-direction: row-reverse;
    
}


.exclusive-col h2 {
    font-size: 65px;
    font-style: normal;
    font-weight: 600;
}

.exclusive-col h5 {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5em;
    color: #5e5e5e;
    letter-spacing: 0px;
    text-align: center;
}

.exclusive-img img {
    border-radius: 20px;
    width: 100%;
}

.exclusive-info {
    margin-top: 40px;
    margin-bottom: 200px;
}

.exclusive-info-flex {
    display: flex;
}

div.exclusive-checks {
    font-size: 20px;
    padding-top: 9px;
}

div.exclusive-checks svg {
    padding-bottom: 4px;
    fill: #004139;
    font-weight: 500;
}

.exclusive-info ul {
    padding-left: 5px;
    padding-bottom: 40px;
}

.exclusive-info ul li {
    list-style: none;
    position: relative;
    letter-spacing: -0.5px;
    font-weight: 400;
    color: #363636;
    padding-left: 5px;
    line-height: 26px;
}

.exclusive-info span {
    font-size: 16px;
    text-transform: uppercase;
}

.exclusive-info h1 {
    font-size: 2.5vw;
    font-weight: 500;
    font-style: normal;
    color: #222222;
    font-family: poppins;
    letter-spacing: -2px;
    word-spacing: 0em;
    padding-bottom: 5px;
}

.exclusive-info p {
    margin-top: 0;
    margin-bottom: 2.5em;
    color: #171515;
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
    font-style: normal;
    line-height: 1.5em;
    letter-spacing: 0em;
    word-spacing: 0em;
    width: 85%;
}

.exclusive-btn {
    padding-top: 20px;
    padding-bottom: 30px;
}

.exclusive-btn a {
    background: #039886;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    padding: 18px 70px;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1em;
}

.exclusive-btn a:hover {
    background: transparent;
    color: #028374;
    border: 1px solid #039886;
    transition: 0.3s;
}




@media screen and (max-width: 1024px) {
    .exclusive-inner-col {
        flex-direction: column;
        width: 96%;
        margin: auto;
    }

    .exclusive-img img {
        max-width: 100%;
        height: 366px;
        object-fit: cover;
        padding-bottom: 10px;
    }

    .exclusive-info h1 {
        font-size: 40px;
        font-weight: 500;
        font-style: normal;
        color: #222222;
        font-family: poppins;
        word-spacing: 0em;
        padding-bottom: 5px;
    }

    .exclusive-info ul li {
        list-style: none;
        position: relative;
        letter-spacing: -0.5px;
        font-weight: 400;
        color: #363636;
        /* padding-left: 5px; */
        line-height: 26px;
    }
    
}

@media screen and (max-width: 768px) {

    .exclusive-inner-col {
        flex-direction: column;
        width: 96%;
        margin: auto;
    }

    .exclusive-row {
        text-align: center;
        padding-top: 60px;
        margin-bottom: 40px;
    }

    .exclusive-img img {
        max-width: 100%;
        height: 366px;
        object-fit: cover;
        padding-bottom: 10px;
    }

    .exclusive-col h2 {
        font-size: 35px;
        text-transform: uppercase;
        line-height: 1.1em;
        font-weight: 600;
        font-style: normal;
    }

    .exclusive-col h5 {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5em;
    }

    .exclusive-info h1 {
        font-size: 40px;
        font-weight: 500;
        font-style: normal;
        color: #222222;
        font-family: poppins;
        word-spacing: 0em;
        padding-bottom: 5px;
    }

    .exclusive-info p {
        margin-top: 0;
        margin-bottom: 2.5em;
        color: #171515;
        font-size: 16px;
        font-weight: 400;
        text-transform: none;
        font-style: normal;
        line-height: 1.5em;
        letter-spacing: 0em;
        word-spacing: 0em;
        width: 90%;
    }

    .exclusive-info span {
        font-size: 13px;
        letter-spacing: 3px;
        text-transform: uppercase;
    }

    div.exclusive-checks {
        font-size: 18px;
        padding-top: 9px;
    }
    
    div.exclusive-checks svg {
        padding-bottom: 4px;
        fill: #004139;
        font-weight: 500;
    }
}


/* FAQ SECTION */

section.FAQ {
    width: 100%;
    background-color: #EFFFFD;
    background-image: url(../Assets/FAQ.webp);
    border-style: 4px solid black;
    border-color: #028374;
    justify-content: center;
    height: 65vh;
    background-position: center center;
}

/* students testimonial section */

.students-testimonials {
    width: 85%;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

.students-header h2 {
    color: #222222;
    font-size: 3.2vw;
    font-weight: 500;
    font-style: normal;
    width: 50%;
    line-height: 1.2em;
}

.student-flex {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    align-items: center;
    justify-content: space-between;
    gap: 0 160px;
    flex-grow: 1;
    flex-basis: auto;
    flex-shrink: 1;
    align-items: auto;
    margin-top: 50px;
    transition: 0.3s;
}


.student-meta {
    display: flex;
    align-items: center;
}

div.testmonials {
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    text-transform: none;
    line-height: 1.7em;
    /* letter-spacing: 0; */
    margin-bottom: 20px;
    color: #5e5e5e;
}

.student-name h5 {
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    line-height: 1.3em;
    text-transform: capitalize;
    color: #363636;
    padding-left: 20px;
}


@media screen and (max-width: 1024px){
    .student-flex {
        flex-direction: column;
        flex-grow: 1;
        flex-basis: auto;
        flex-shrink: 1;
        gap: 60px 0;
    }

    .students-header h2 {
        font-size: 40px;
    }

    div.testmonials {
        font-size: 17px;
        width: 85%;
    }
    
}



@media screen and (max-width: 768px) {
    .student-flex {
        flex-direction: column;
        flex-grow: 1;
        flex-basis: auto;
        flex-shrink: 1;
        gap: 60px 0;
    }
}
